.panel-travel-credits {
  span.amount {
    @include flex(center, center);
    @include font-circular-reg(14px, 18px, $color-success);
    min-width: 52px;
    min-height: 22px;
    background-color: $bg-success;
    border-radius: 50vh;
  }
  .section-header {
    @include flex(space-between, center);
    min-height: 64px;
    padding: 5px 16px;
    background-color: $color-light-grey;
    > h3 {
      @include font-circular-reg(24px, 32px, $color-header-secondary);
    }
    span {
      cursor: pointer;
      img {
        width: 12px;
      }
    }
    &.section-header-details {
      flex-direction: column;
      align-items: flex-start;
      min-height: 112px;
      padding-top: 30px;
      > span {
        padding: 2px 0;
      }
    }
  }
  .container-search {
    background-color: $white;
    padding: 30px 16px;
    .common-search {
      width: 100%;
      .local-search {
        @include font-circular-reg(16px, 24px, $color-tabs);
        border-color: $color-border-secondary;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        height: 44px;
      }
    }
  }
  .table-travel-credits.table {
    margin-bottom: 0;
    tbody {
      max-height: calc(100vh - 64px - 104px - 45px);
      overflow-y: auto;
    }
    tr {
      &:nth-child(even) {
        background-color: $color-light-grey;
      }
      th,
      td {
        width: 30%;
        &:nth-child(1) {
          width: 45%;
        }
        &:nth-child(2) {
          width: 25%;
        }
      }
      th {
        font-size: 14px;
      }
      td {
        font-size: 16px;
        &:first-child {
          color: $color-header-secondary;
        }
        span:not(.amount) {
          cursor: pointer;
        }
      }
    }
  }
  .section-details {
    padding: 40px 16px 0 16px;
    margin-bottom: 60px;
    .wrapper-detail {
      margin-bottom: 35px;
      .card-title {
        @include font-circular-reg(18px, 24px, $black);
        display: block;
        margin: 0;
        padding: 0 0 8px 10px;
      }
      .card-value:not(.card-value-expiry) {
        @include flex(center, center);
        min-height: 89px;
        background-color: $color-light-grey;
        border: 1px solid rgba(121, 129, 147, 0.4);
        border-radius: 10px;
        padding: 10px 25px;
        span.amount {
          font-size: 30px;
          min-width: 100px;
          min-height: 48px;
        }
        span:not(.amount) {
          @include font-circular-reg(17px, 20px, $black);
        }
      }
      .card-value-expiry {
        @include font-circular-reg(18px, 24px, $black);
        padding-left: 8px;
        padding-top: 10px;
        display: block;
      }
      &.wrapper-detail-code .card-value {
        justify-content: space-between;
      }
    }
  }
  .wrapper-terms {
    padding-left: 16px;
    .button-link.button-terms {
      font: 700 16px/20px circularBold;
      color: $color-tabs;
      // @include font-circular-reg(16px, 20px, $color-tabs);
      span {
        color:  $color-primary;
        display: block;
        text-decoration: underline;
      }
    }
  }
}
