.container-documents {
  .title-search-bar-container {
    justify-content: flex-end;
  }
  .wrapper-documents {
    margin-top: -45px;
  }
  .section-documents {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    > h3.title {
      @include font-circular-reg(18px, 23px, $black);
      margin-bottom: 30px;
    }
    .container-documents {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      .card-document {
        background-color: $white;
        box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
        border-radius: 8px;
        padding: 24px 24px 0;
        min-width: 330px;
        .document-title-id {
          @include flex(flex-start, center);
          margin-bottom: 24px;
          > span {
            @include flex(center, center);
            @include circle(48px);
            background-color: #C4C4C4;
            margin-right: 12px;
          }
          > div {
            display: flex;
            flex-direction: column;
            .doc-title {
              @include font-circular-reg(16px, 24px, $color-header-secondary);
            }
            .doc-id {
              @include font-circular-reg(14px, 20px, $color-tabs);
            }
          }
        }
        .details-expiry {
          @include flex(space-between, center);
          margin-bottom: 24px;
          .date-expiry {
            @include font-circular-reg(14px, 20px, $color-tabs);
          }
        }
        .section-view {
          display: flex;
          justify-content: flex-end;
          padding: 16px 0;
          position: relative;
          a.button-link {
            @include font-circular-reg(14px, 20px, $color-theme);
          }
          &:before {
            position: absolute;
            content: "";
            width: calc(100% + 24px + 24px);
            height: 1px;
            left: -24px;
            top: 0;
            background-color: $color-border;
          }
        }
      }
    }
  }
}
