.input-field {
  position: relative;

  label {
    @include font-circular-reg(14px, 20px, $color-nav-item);
    display: block;
    margin-bottom: 10px;
  }

  .error-msg {
    @include font-circular-reg(14px, 20px, $color-error-secondary);
    margin-top: 6px;
  }

  input {
    @include font-circular-reg(14px, 20px, $color-header-secondary);
    outline: 0;
    min-width: 400px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid $color-input-border;
    padding: 10px 16px;
    background-color: $white;
    text-transform: capitalize;

    &[type="password"] {
      padding-right: 40px;
      text-transform: none;
    }
    &[type="email"] {
      text-transform: none;
    }

    &:focus, &.error {
      border: 1px solid $color-primary;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &.md {
      height: 44px;
    }

    &.sm {
      height: 40px;
    }
  }
  .icon-eye,
  .error-icon {
    display: block;
    position: absolute;
    right: 16px;
    top: 39px;
    img {
      width: 16px;
    }
  }
  .icon-eye {
    cursor: pointer;
  }

  &.input-field-with-error {
    input {
      border-color: $color-primary;
    }
  }
}

input {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: inset 0 0 0px 9999px white;
  }
}

@mixin hideRule {
  -webkit-mask-image: none !important;
  -webkit-mask-size: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

input::-ms-reveal {
  @include hideRule;
}

input::-webkit-contacts-auto-fill-button {
  @include hideRule;
}

input::-webkit-credentials-auto-fill-button {
  @include hideRule;
}

input::-webkit-caps-lock-indicator {
  -webkit-appearance: none !important;
  content: "" !important;
}

div[contenteditable="false"] {
  display: none !important;
}

input[contenteditable="false"] {
  display: none !important;
}

input::-webkit-strong-password-auto-fill-button {
  font-size: 0 !important;
  visibility: hidden !important;
  display: none !important;
  right: 0 !important;
  position: absolute !important;
  pointer-events: none;
}
