.registration-container.forgot-password-container {
  min-height: 560px;
  .logo {
    margin-bottom: 25px;
  }
  .title {
    margin-bottom: 16px;
  }
  .description {
    @include font-circular-reg(16px, 24px, $color-theme);
    margin-bottom: 32px;
    max-width: 75%;
    text-align: center;
  }
  .code-input-holder.input-field {
    @include flex(center, center);
    margin-bottom: 45px;
    input {
      width: 69px;
      height: 67px;
      padding: 2px;
      min-width: 0;
      text-align: center;
      font-size: 25px;
      color: $color-theme;
      letter-spacing: 0.2em;
      text-transform: none;
      &.filled {
        border-color: $color-primary;
      }
    }
    span {
      display: inline-block;
      width: 7px;
      height: 2px;
      background-color: $black;
      margin: 0 25px;
    }
  }
  .button.button-verify {
    margin-bottom: 22px;
    &.button-verified {
      background-color: $color-green-tertiary;
      svg {
        margin-right: 15px;
      }
    }
    &.button-loader {
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      .loader {
        @include circle(24px);
        border: 2px solid transparent;
        background: linear-gradient($color-theme, $color-theme),
          conic-gradient(from 0.15turn, $color-theme, $white);
        background-origin: border-box;
        background-clip: content-box, border-box;
        animation: spin 2s linear infinite;
      }
    }
  }
  .text-code-send {
    font: 300 16px/24px circularBook;
    color: $color-theme;
    text-align: center;
    span {
      font-family: circularMedium;
      font-weight: 500;
      display: block;
      cursor: pointer;
    }
  }
}
