.container-team {
  .button.button-team {
    font-size: 14px;
    width: 140px;
    height: 36px;
    margin-bottom: 24px;
  }
  .container-table {
    flex-grow: 1;
    .table-team {
      margin-bottom: 0;
      tr {
        &:nth-of-type(even) {
          background-color: #f9fafb;
        }
        td,
        th {
          width: 120px;
          &:nth-of-type(1) {
            width: 60px;
          }
          &:nth-of-type(2) {
            width: calc(100% - 240px - 60px);
          }
        }
        .checkbox-wrapper {
          .custom-checkbox {
            width: 20px;
            height: 20px;
            margin-right: 0;
            border-radius: 6px;
            border-color: #d0d5dd;
          }
          input[type="checkbox"] + span svg {
            font-size: 12px;
          }
          input[type="checkbox"]:checked + span.custom-checkbox {
            border-color: $color-primary;
          }
        }
        .avatar-info {
          @include flex(flex-start, center);
          gap: 12px;
          img {
            @include circle(40px);
          }
          > div {
            @include font-circular-reg(14px, 20px, #101828);
            span {
              color: #667085;
              display: block;
            }
          }
        }
      }
      &.table-team-support {
        tr {
          td,
          th {
            width: 120px;
            &:nth-of-type(1) {
              width: 60px;
            }
            &:nth-last-of-type(1),
            &:nth-last-of-type(2) {
              width: 40px;
              img {
                width: 16px;
              }
            }
            &:nth-of-type(2) {
              width: calc(100% - 240px - 140px);
            }
          }
        }
      }
    }
  }
}
