// basic colors
$white: #fff;
$black: #000;

// theme colors
$color-theme: #1C4651;
$bg-registration: rgb(250, 243, 235);
$color-primary: #FA966B;
$bg-primary: #FEEAE1;
$color-success: #027A48;
$bg-success: #ECFDF3;
$color-tabs: #667085;
$color-nav-item: #344054;
$color-header: #3F434A;
$color-header-secondary: #101828;
$color-border: #EAECF0;
$color-light: #8A9099;
$color-border-secondary: #d0d5dd;
$color-light-grey: #f9fafb;
$color-grey-secondary: rgb(248, 248, 248);;
$color-grey-tertiary: #fcfcfd;
$color-light-blue: #9aa0d7;
$color-orange-secondary: #e18760;
$color-error: #b42318;
$color-text: #595f69;
$color-text-secondary: #475467;
$color-yellow: #EFC14A;
$color-yellow-secondary: #FFBF3A;
$color-green-secondary: #448B7A;
$color-green-tertiary: #219653;
$color-violet: #8F95D3;
$color-error-secondary: #F04438;
$color-input-border: #e8e9eb;

// Status
$bg-full-trip: #EFF8FF;
$color-full-trip: #175CD3;
$bg-dot-full-trip: #2e90fa;
$color-free: #C11574;
$bg-free: #FDF2FA;
$bg-dot-free: #ee46bc;
$bg-dot-monthly: #12b76a;
