@import "./fonts";
@import "./color";
@import "./mixins";

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  &:focus {
    outline: none !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}

.cursor-pointer {
  cursor: pointer;
}

img {
  max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: $font-circular-bold;
  font-size: 40px;
  line-height: 51px;
  color: $color-header;
}

h2 {
  font-family: $font-inter;
  font-weight: 600;
  font-size: 30px;
  color: $color-theme;
  text-transform: capitalize;
}

ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

.button, a.button {
  @include font-circular-reg(16px, 24px, $white);
  @include flex(center, center);
  width: 325px;
  height: 64px;
  background-color: $color-theme;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  &:hover, &:focus {
    color: $white;
  }
}

.button-link, a.button-link {
  padding: 0;
  border: none;
  cursor: pointer;
  color: $color-primary;
  background: transparent;
  text-decoration: none;
  &:hover, &:focus {
    color: $color-primary;
  }
}

.container-table {
  background-color: $white;
  border-radius: 8px;
  .table {
    display: flex;
    flex-flow: column;
    flex: 1;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
    >:not(:first-child) {
      border: none;
    }
    >:not(caption)>*>* {
      border: none;
    }
    th,
    td {
      display: flex;
      align-items: center;
      padding: 5px;
      &:first-child {
        padding-left: 24px;
      }
    }
    tr {
      display: flex;
      width: 100%;
      border-bottom: 1px solid $color-border;
      td {
        @include font-circular-reg(14px, 20px, $color-tabs);
        min-height: 72px;
        div.name-info {
          display: flex;
          align-items: center;
          color: $color-header-secondary;
          span {
            @include circle(40px);
            @include flex(center, center);
            background-color: $color-light-grey;
            color: $color-text-secondary;
            text-transform: uppercase;
            margin-right: 12px;
            &:empty {
              background-color: $color-grey-secondary;
            }
          }
        }
      }
      th {
        @include font-circular-reg(12px, 18px, $color-tabs);
        min-height: 44px;
      }
    }
    tbody {
      // &::-webkit-scrollbar {
      //   width: 7px;
      //   background-color: $white;
      // }
      // &::-webkit-scrollbar-thumb {
      //   background-color: $color-border;
      //   border-radius: 50vh;
      // }
      td {
        padding-left: 6px;
        &:first-child {
          padding-left: 25px;
        }
      }
    }
    thead {
      display: block;
      flex-shrink: 0;
      background-color: $color-grey-tertiary;
      border-bottom: 1px solid $color-border;
      border-radius: 8px 8px 0 0;
      tr {
        border-bottom: none;
      }
    }
  }
}

.user-type {
  @include font-circular-reg(12px, 18px, $color-tabs);
  display: inline-flex;
  min-height: 22px;
  padding: 2px 8px 2px 20px;
  border-radius: 50vh;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    @include circle(6px);
    left: 7px;
    top: calc(50% - 3px);
  }
  &.full-trip {
    background-color: $bg-full-trip;
    color: $color-full-trip;
    &::before {
      background-color: $bg-dot-full-trip;
    }
  }
  &.free {
    background-color: $bg-free;
    color: $color-free;
    &::before {
      background-color: $bg-dot-free;
    }
  }
  &.monthly {
    background-color: $bg-success;
    color: $color-success;
    &::before {
      background-color: $bg-dot-monthly;
    }
  }
  &.documents {
    background-color: $bg-primary;
    color: $color-orange-secondary;
    &::before {
      background-color: $color-primary;
    }
  }
}
